@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
/* -- reset  -- */
@import 'styl/reset-normalize'
/* -- Variables -- */
@import 'styl/variables'
/* -- Functions -- */
@import 'styl/mixins'
/* -- Native Tags -- */
@import 'styl/tags'
/* -- Classes -- */
@import 'styl/classes'
/* -- Elements -- */
@import 'styl/elements'
/* -- Templates -- */
@import 'styl/templates'

/* -- Plugins or dependences -- */
// @import 'vendor/'

/* -- Header & Footer -- */
@import 'site/header'
@import 'site/footer'
@import 'site/search'
@import 'site/slider_principal'
@import 'site/lo_ultimo'
@import 'site/categorias'
@import 'site/columnas'
@import 'site/ultimos_videos'
@import 'site/listado_de_articulos'
@import 'site/detalle_de_articulos'
@import 'site/error'


/* -- Website -- */


/* -- Support -- */
// @import 'support/'