.all
	width 100%
	relative()
.limit
	width 100%
	max-width rem(1280)
	padding rem(0, 15)
	margin auto
	position relative
.clear
	clear both
	display block
.left
	float left
.right
	float right
.table
	width 100%
	height 100%
	display table
	relative()
.table__cell
	display table-cell
	vertical-align middle
	relative()
	text-align center
.table__contenido
	display inline-block
	relative()

.swiper-container
.swiper-wrapper
.swiper-slide
	width 100%
	height 100%
	position relative
.imgfull
	width 100%
.none
	display none
	
.has-icon-arrow
	display flex
	justify-content space-between
	align-items center
	&:after
		content ''
		display inline-block
		border rem(1) solid #979797
		border-left 0
		border-top 0
		width rem(10)
		height rem(10)
		transform rotate(45deg)
		margin rem(-5, 0, 0, 15)