.columnas
	position relative
	
	&__header
		display flex
		align-items center
		justify-content space-between
	
	&__link
		color --celeste
		font-size rem(20)
		font-weight 500
		margin-left rem(30)
		width fit-content
		flex none
		margin-bottom rem(20)
		&:hover
			text-decoration underline
	
	&__list
		height auto
		padding rem(15)
		
		&.m--default
			display flex
			flex-wrap wrap
			.columnas__item
				margin-right calc( (100% - 1188px) / 3 )
				&:nth-child(4)
					margin-right 0
					~ .columnas__item
						display none
		
		&.swiper-container-initialized
			height auto
			.columnas__item
				margin-right rem(22)
		.swiper-slide
			width auto
			height auto
			&:last-child
				.columnas__item
					margin-right 0
		.swiper-wrapper
			height auto
		.swiper-pagination
			display none
	
	&__item
		width rem(297)
		height rem(424)
		border-radius rem(6)
		position relative
		overflow hidden
		box-shadow rem(0, 5, 10) rgba(0,0,0,.15)
		
		&:hover
			.columnas__item
				&__image
					img
						transform scale(1.05)
				&__title
					color --rojo
		
		&__image
			display block
			width 100%
			height rem(190)
			background-color --negro
			overflow hidden
			transition all ease .25s
			img
				width 100%
				height rem(190)
				object-fit cover
				transition all ease .25s
		
		&__header
			position relative
			z-index 2
			padding rem(30, 16)
			transition all ease .25s
			
			display flex
			flex-wrap wrap
			justify-content space-between
		
		&__subtitle, &__date
			font-size rem(10)
			text-transform uppercase
			font-weight 700
			letter-spacing rem(0.1)
		
		&__date
			font-weight 500
			color --gris
		
		&__title
			width 100%
			font-size rem(18)
			font-weight 700
			line-height 1.4
			display block
			margin rem(15, 0, 20)
			transition all ease .25s
			
			display -webkit-box
			-webkit-line-clamp 2
			-webkit-box-orient vertical
			overflow hidden
			text-overflow ellipsis
		
		&__timer
			font-size rem(14)
			color --gris
			display flex
			align-items center
			&:before
				content ''
				flex none
				display block
				square(14)
				background-image url('../images/ico_timer.png')
				margin-right rem(12)
	
		&__link
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			z-index 5
			font-size 0
		
		&__author
			width 100%
			font-size rem(12)
			padding-top rem(24)
			color --gris
			
			display flex
			align-items center
			img
				square(38)
			p
				padding-left rem(12)
				line-height 1.4
			strong
				font-weight 700
				display block
				
	.g-button-group
		display none
		paddin-top rem(20)
	
	@media (max-width 900px)
		
		&__list
			padding-bottom rem(40)
		
		&__link
			display none
			
		.swiper-pagination
			display block
			bottom 0
		.swiper-pagination-bullet-active
			background-color --gris
		
		.g-button-group
			display flex


	@media (max-width 700px)
	
		&.swiper-container-initialized
			.columnas__item
				margin-right rem(17)
		
		&__item
			width rem(258)
			height rem(364)
			
			&__image
				height rem(146)
			
			&__header
				padding rem(23, 16)
			
			&__author
				img
					display none
				p
					padding-left 0