.error
	background-color #f4f6f9
	padding rem(100, 0)
	text-align center
	
	&__title
		font-size rem(111)
		color #d1d6df
		line-height 1
		font-weight 700
		text-transform uppercase
		strong
			display block
			font-size rem(200)
			font-weight 700
	
	&__subtitle
		font-weight 700
		font-size rem(35)
		margin-top rem(30)
		display block
	
	&__text
		font-size rem(30)
		margin-top rem(15)
	

	@media (max-width 800px)
		
		padding rem(70, 0)
	
		&__title
			font-size rem(52)
			
			strong
				font-size rem(93)
		
		&__subtitle
			font-size rem(25)
		
		&__text
			font-size rem(20)